.slider-container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slider {
    width: 250px;
    height: 100vh;
    background-color: #ffaf72;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .toggle-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
    background-color: transparent;
    transition: transform 0.3s ease;
  }
  
  .slider-container.hidden .slider {
    transform: translateX(-80%);
  }
  
  .slider-container.hidden .content {
    transform: translateX(-250px);
  }