.header {
    background-color: #e76f51;
    color: white;
    display: flex;
    justify-content: space-between;
   
  }
  
  .header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
  }

  .logo {
  width: 64px;
  height: 64px; 
  display: flex;
  margin: 0px;
  }

  .header div log {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
  }

 .div signin border {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
 }

 .button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
 }

.button withdesign {
  border:1px;
  width:auto;
  height: 100%;
  color:white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30pt;
  background-color: #000000;
}